
*.sln
*.csproj
AR Team 2 - Instant Pot\Library/
AR Team 2 - Instant Pot\Logs/
AR Team 2 - Instant Pot\Temp/
AR Team 2 - Instant Pot\UserSettings/
AR Team 2 - Instant Pot\ProjectSettings/
AR Team 2 - Instant Pot\obj/